

<h1 class="display-4">Incoming</h1>
<select class="form-control" id="selectIncoming" name="feature">
  <% Monkey.first.attributes.keys.each do |key| %>
    <option value="<%= key %>"><%= key %></option>
  <% end %>
</select>

<h1 class="display-4">Outgoing</h1>
<select class="form-control" id="selectOutgoing" name="feature">
  <% Monkey.first.attributes.keys.each do |key| %>
    <option value="<%= key %>"><%= key %></option>
  <% end %>
</select>

<br>
<button id="plotBtn" class="btn btn-warning" type="data" name="data">Plot!</button>



<div id="plotContainer">
</div>
